<fieldset class="nested-fields">
  <div class="collection-field">
    <div class="control-group">
      <%= f.label :name, 'Collection', class: 'control-label' %>
      <div class="form-inline controls">
        Name: <%= f.text_field :name %>
        Abbr: <%= f.text_field :shortcut %>

      </div>
    </div>
  </div>
</fieldset>