<% title "Research Modules", nil %>

<% content_for :breadcrumbs_section do %>
  <nav class="breadcrumbs">
    <%= link_to "Modules", clusters_path %>

  </nav>
<% end %>

<% content_for :link_section do %>
  <div class="button-bar right">
    <ul class="button-group">

    </ul>
  </div>
<% end %>

<% content_for :main_section do %>

  <%= render "shared/document_introductions", :vars => @clusters %>

<% end %>

<% content_for :footer_section do %>
  <% if can? :edit, @clusters %>
    <div class="large-6 columns push-6">
      <ul class="pricing-table">
        <li class="title">Modul</li>
        <li class="description">Hier ergänzender Text über die Möglichkeiten und Konsequenzen eines neuen Modules</li>
        <li class="cta-button"><%= link_to 'Add Research Module', new_cluster_path, class: "button" %></li>
      </ul>
    </div>
  <% end %>
<% end %>