<% title "People", nil %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li class="active">People</li>
<% end %>

<% content_for :main_section do %>
  <div class="span10">
    <ul class="unstyled" style="padding-left:20px;">
      <% @people.each do |person| %>
        <li>
          <% if person.user_id %>
            <span data-tooltip class="has-tip" title="This Person has a connected user-account in BABylo-tec." style="margin-left:-20px;"><i class="icon-resize-small"></i></span>
          <% end %>
          <%= link_to "#{graded_fullname(person)}", person %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="span2">
    <% if can? :edit, @people %>
      <div class="btn-group pull-right" style="margin-left:100%;margin-bottom:20px;">
        <a class="btn dropdown-toggle btn-large" data-toggle="dropdown" href="#">
          Add
          <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Person', new_person_path %></li>
            <li><%= link_to "Your profile", new_person_path(:user_id => current_user, :alias => current_user.username) unless current_user.person %></li>
          </ul>
      </div>
    <% end  %>
  </div>
<% end %>