<% title "People", nil %>

<% content_for :breadcrumbs_section do %>
  <li><%= link_to 'Root', root_path %> <span class="divider">/</span></li>
  <li class="active">People</li>
<% end %>

<% content_for :main_section do %>
  <div class="span12">
    <ul class="unstyled" style="padding-left:20px;">
      <% @people.each do |person| %>
        <li>
          <% if person.user_id %>
            <span data-tooltip class="has-tip" title="This Person has a connected user-account in BABylo-tec." style="margin-left:-20px;"><i class="icon-resize-small"></i></span>
          <% end %>
          <%= link_to "#{graded_fullname(person)}", person %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% content_for :footer_section do %>
  <% if can? :edit, @people %>
    <div class="span6">
      <%= link_to 'Add Person', new_person_path, class: "btn btn-large" %><% unless connected_profile %> or create <%= link_to "your profile", new_person_path(:user_id => current_user) %><% end %>
    </div>
  <% end %>
<% end %>