<div class="" id="group-<%=group.id%>">
  <div class="row-fluid">
    <div class="span12">
      <h4>
        <%= link_to "#{group.cluster.name+' / '+group.name}", [group.cluster, group] %>
      </h4>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <% if group.description.present? %>
        <%= group.description %>
      <% else %>
        No abstract to show. <%= link_to 'Edit it!', [:edit, group.cluster, group] %>
      <% end %>
      <hr>
    </div>
  </div>
</div>