      <% if can? :manage, 'development' %>
        <div class="collapse row-fluid" id="params-section">
          <div class="span12" style="font-size:10px;">
            <div class="">
              <p><%= debug(params) %></p>
            </div>
          </div>
        </div>
      <% end %> 