<table class="table table-bordered table-hover">
  <tr>
    <td><pre>[Link](http://example.com/)</pre></td>
    <td><a href="http://example.com/">Link</a></td>
  </tr>
  <tr>
    <td><pre>*Italic*</pre></td>
    <td><em>Italic</em></td>
  </tr>
  <tr>
    <td><pre>**Bold**</pre></td>
    <td><strong>Bold</strong></td>
  </tr>
  <tr>
    <td><pre>#Headline</pre></td>
    <td><h1>Headline</h1></td>
  </tr>
  <tr>
    <td><pre>##Headline</pre></td>
    <td><h2>Headline</h2> etc.</td>
  </tr>
  <tr>
    <td><pre>######Headline</pre></td>
    <td><h6>Headline</h6></td>
  </tr>
  <tr>
    <td>
      <pre>
        * Listed
        * Items
      </pre>
    </td>
    <td><ul><li>Listed</li><li>Items</li></ul></td>
  </tr>
  <tr>
    <td><pre>&gt; Block quote</pre></td>
    <td><blockquote><p>Block quote</p></blockquote></td>
  </tr>

  <tr>
    <td><pre>![Alternativer Text](/uploads/asset/assetfile/7/bild.jpg "Optionaler Titel")</pre></td>
    <td>Grafik</td>
  </tr>
  <tfooter><td colspan="2"><%= link_to 'Howto use Markdown', "http://markdown.de/syntax/", :target => "_blank", style: '' %></td></tfooter>
</table>
