<% if var.documents.present? %>
  <% for document in var.documents.without_document_type.limit(3) do %>
    <%= render "documents/document", :var => document %>
  <% end %>
  <p style="margin-top:20px;"><%= link_to "View all documents", [var, :documents] %></p>
<% end %>