<% title ('Edit document'), nil %>
<div class="row">
<div class="span8">
  <%= render 'form' %>
</div>

<div class="span4">
  <%= render 'comments/list', comments: @document.comments %>
  <hr>
  <%= render 'comments/form', commentable: @document, size: 'input-xlarge' %>
</div>
</div>