<p>
  <%= link_to 'Link', [study.list, study] %>
</p>

<p>
  <b>list:</b>
  <%= link_to study.list.name, [study.list.project, study.list] %>
</p>

<p>
  <b>Properties:</b>
  <%= study.properties %>
</p>

<p>
  <b>Studyable:</b>
  <%= link_to study.studyable.name, study.studyable %>
</p>