<h4 class="" style="margin-bottom:10px; margin-top:10px;">
  <%= link_to "#{bucket.name}", [bucket, :assets] %>
</h4>
<div class="tiles">
  <% for asset in bucket.assets.order('created_at desc') do %>
  	<%= link_to ((asset.content_type.include? 'image') ? (image_tag asset.assetfile.thumb.url, style: 'width:200px;') : (image_tag (%['sheet' 'document' 'msword' 'ms-excel' 'x-zip-compressed' 'kml+xml' 'pdf'].include?asset.content_type.sub('application/', '').split('.').last) ?  "icons/formats/#{asset.content_type.split('.').last.sub('application/', '')}.svg" : 'icons/formats/tmp.svg' , style: 'width:200px;')), asset.assetfile.large.url, class: 'img-fluid' %>
    <%= asset.assetfile.normal.url if local_assigns.has_key? :with_link %> 
  <% end %>
</div>
<p style="margin-bottom: 30px;"><%= link_to "View all assets in #{bucket.name}", [bucket, :assets] %></p>

