<%= form_for [@bucket, @bucket.assets.new], html: {id: 'fileupload'} do |f| %>
  <div class="row fileupload-buttonbar">
    <div class="span7">
      <a href="#add_assets" data-toggle="modal" class='btn btn-success fileinput-button'>
        <i class="icon-plus icon-white"></i> 
        <span>Add existing assets</span>
      </a>
      <!-- The fileinput-button span is used to style the file input field as button -->
      <span class="btn btn-success fileinput-button">
        <i class="icon-plus icon-white"></i>
        <span>Upload new assets</span>
        <%= f.file_field :assetfile %>
      </span>
      <button type="submit" class="btn btn-primary start">
        <i class="icon-upload icon-white"></i>
        <span>Start upload</span>
      </button>
      <button type="reset" class="btn btn-warning cancel">
        <i class="icon-ban-circle icon-white"></i>
        <span>Cancel upload</span>
      </button>
    </div>
  </div>
  <!-- The loading indicator is shown during image processing -->
  <div class="fileupload-loading"></div>
  <br>
  <!-- The table listing the files available for upload/download -->
  <table class="table table-striped">
    <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
  </table>
<% end if can? :edit, @bucket %>
