<% title "Terms of interest", nil %>

<% content_for :add_section do %>
  <li><%= link_to 'Term', new_tag_path %></li>
<% end if can? :edit, @tags %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag :li, "Terms of interest", class: 'active' %>
<% end %>

<% content_for :main_section do %>
  <div class="span6">
    <%= render 'full_tag_tree', :tags => @tags, add_links_visible: true, highlight: nil %>
  </div>
<% end %>