<% title "Forbidden. (403)", nil %>
<% content_for :main_section do %>
    <% if @exception %>
  	  <p><%= @exception.message %></p>
    <% else %>
      <p>You are not authorized to perform this action.</p>
    <% end %>
<% end %>