<% title "Not found (404)", nil %>
<% content_for :main_section do %>
  <div class="span8">
    <p><%= @exception.message if @exception %> The page you are looking for doesn't exist.</p>
  </div>
<% end %>