<% title "Change Rejected (422)", nil %>
<% content_for :main_section do %>
  <div class="large-8 columns">
    <p>Maybe you tried to change something you didn't have access to.</p>
  </div>
<% end %>