<% title "Oops. (500)", nil %>
<% content_for :main_section do %>
  <div class="span12">
    <p>We're sorry, but something went wrong. <%= @exception if can? :manage, @exception %></p>
  </div>
<% end %>