<% title "Research Areas", nil %>

<% content_for :breadcrumbs_section do %>
  <%= content_tag(:li, link_to("Root", root_path) + content_tag(:span, '/', class: 'divider')) %>
  <%= content_tag(:li, link_to("#{@cluster.name}", @cluster) + content_tag(:span, '/', class: 'divider')) if @cluster %>
  <%= content_tag :li, "Areas", class: 'active' %>
<% end %>

<% content_for :main_section do %>
  <div class="span12">
    <%= render "shared/document_introductions", :vars => @areas %>
  </div>
<% end %>