<% title "Research Areas", nil %>

<% content_for :breadcrumbs_section do %>
  <nav class="breadcrumbs">
    <%= link_to "Reasearch Areas", areas_path %>

  </nav>
<% end %>

<% content_for :link_section do %>
  <div class="button-bar right">
    <ul class="button-group">

    </ul>
  </div>
<% end %>

<% content_for :main_section do %>

  <%= render "shared/document_introductions", :vars => @areas %>
  
<% end %>