<%= content_tag :li, class: "span2" do %>
  <%= link_to ((asset.content_type.include? 'image') ? (image_tag asset.assetfile.thumb.url, style: 'width:200px;') : (image_tag (%['sheet' 'document' 'msword' 'ms-excel' 'x-zip-compressed' 'kml+xml' 'pdf'].include?asset.content_type.sub('application/', '').split('.').last) ?  "icons/formats/#{asset.content_type.split('.').last.sub('application/', '')}.svg" : 'icons/formats/tmp.svg' , style: 'width:200px;')), asset, class: 'popover-bottom img', data: { 'original-title' => asset.name, 'content' => "#{render 'asset_caption', asset: asset}", html: true }, style: 'padding-bottom:100px;' %>
  <%= content_tag :span do %>
    <label class="checkbox">
      <%= check_box_tag "asset_ids[]", asset.id %> Mark deleted
    </label> 
  <% end if can? :destroy, asset %>
<% end %>