<%= form_for [@bucket, @bucket.assets.new] do |f| %>        

  <%= f.file_field :assetfile, multiple: true %>

  <script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
  </script>        

<% end %>