<fieldset>
  <div class="control-group">
    <div class="field">
      <%= f.label :person_id, 'Author', class: 'control-label' %>
      <div class="controls">
        <%= f.collection_select :person_id, Person.order(:last_name), :id, :fullname, { :include_blank => true } %>
        <small><%= f.link_to_remove "remove" %></small>
      </div>
    </div>

    <%= f.hidden_field :reference_id, :value => @reference.id unless @book %>
    
  </div>
</fieldset>