<h1>Editing bibliographic entry</h1>
<% if @reference.book %>
  <div class="row">
  	<div class="large-8 columns">
      <p>Dieser Artikel ist in <strong><%= link_to "#{entries_for_select(@reference.book)}", @reference.book %></strong> erschienen.</p>
    </div>
  </div>
<% end %>
<%= render 'form' %>

<%= link_to 'Show', @reference %> |
<%= link_to 'Back', references_path %>
