<% title "Editing bibliographical resource entry", nil %>
<% if @reference.book %>
  <div class="row">
  	<div class="span6">
      <p>This article is published in <strong><%= link_to "#{entries_for_select(@reference.book)}", @reference.book %></strong></p>
    </div>
  </div>
<% end %>
<%= render 'form' %>