<% title "New bibliographical resource entry", nil %>
<% if @reference.book %>
  <div class="row">
  	<div class="large-8 columns">
      <p>Einen Artikel in <strong><%= link_to "#{entries_for_select(@reference.book)}", @reference.book %></strong> anlegen.</p>
	</div>
  </div>
<% end %>

<%= render 'form' %>
