<% title "New bibliographical resource entry", nil %>
<% if @reference.book %>
  <div class="row">
  	<div class="span6">
      <p>Add an article to <strong><%= link_to "#{entries_for_select(@reference.book)}", @reference.book %></strong></p>
	</div>
  </div>
<% end %>

<%= render 'form' %>
