<% title "New bibliographical resource entry", nil %>

<% content_for :main_section do %>
<% if @reference.book %>
  <div class="row-fluid">
  	<div class="span6">
      <p>Add an article to <strong><%= link_to "#{book_entries_for_select(@reference.book)}", @reference.book %></strong></p>
	</div>
  </div>
<% end %>
<p>This entry will be added through <b><%= full_qualified_name(current_aspect) %></b> and will <b><%= current_aspect.show_references ? 'appear' : 'not appear' %></b> in the overall bibliography.

<%= render 'form' %>

<% end %>