abbr.timeago{
  border: none;
  cursor: default;
  color: #BBB;
  font-weight: normal;
  font-size: 12px;
}

.activity {
  margin-bottom: 1em;
  padding-left: 45px;
  position: relative;
  min-height: 65px;

  .mega-icon {
    position: absolute;
    top: 14px;
    left: 0;
    width: 32px;
    height: 32px;
    padding: 3px;
    color: #BBB;
    background-position: center center;
    background-size: 32px auto;
    background-repeat: no-repeat;
  }

  .body {
    overflow: hidden;
    padding: 0 0 0 0;


    .title {
      padding: 0 0 .25em 0;
      font-weight: bold;
      font-size: 12px;
      padding-left: 45px;

      img {
      	width:35px;
      	padding:2px;
        position: absolute;
        left:45px;
      }
    }  

    .details {
      .message {
        display: inline;
        color: #666;
        font-size: 11px;
      }
    }
  }
}

.activity-align {
  @media (min-width: 1200px) { 
    padding-left:2em;
    }
  @media (min-width: 769px) and (max-width: 1199px) { 
    padding-left:1em;
    }
  @media (max-width: 768px) { 
    margin-left:-5px;
    }
}