abbr.timeago{
  border: none;
  cursor: default;
  color: #BBB;
  font-weight: normal;
  font-size: 12px;
}

.activity {
  margin-bottom: 1em;
  padding-left: 45px;
  position: relative;

  .mega-icon {
    position: absolute;
    top: 14px;
    left: 0;
    width: 32px;
    height: 32px;
    padding: 3px;
    color: #BBB;
    background-position: center center;
    background-size: 32px auto;
    background-repeat: no-repeat;
  }

  .body {
    overflow: hidden;
    padding: 0 0 1em 0;

    .title {
      padding: 0 0 .25em 0;
      font-weight: bold;
      font-size: 12px;

      img {
      	width:35px;
      	padding:2px;
      }
    }  

    .details {
      .message {
        display: inline;
        color: #666;
        font-size: 13px;
      }
    }
  }
}