/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 Colors: 787878 (grau navbar); DE9F85 (graurot); AB9F9A (lilagrau logo); 648564 (graugrün); A0AB9A (hellgraugrün)
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require chosen
 *= require jquery.fileupload-ui
 *= require_tree .
 */

.field_with_errors input[type="text"], .field_with_errors textarea {
	border: 1px solid red;
}

.tiles {
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.tiles img {
	margin-bottom:10px;
}


.abstract_area {
	height: 100px;
}

.list-entry {
	border-bottom: 1px dashed #e6e6e6;
	margin-bottom: .8em;
}

.other-actions {
	margin: 1em 0 3em 0;
}

.spinner {
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.nav-pills-big {
  li a {
    font-size: 1.2em;
    padding: 20px;
    .badge {
      margin-top:-3px;
    }
  }
}

.authors, .reference-edit-link {
	@media (min-width: 768px) { text-align:right }
}

h1 {
	font-size: 2.3em;
	
}
h1.pagetop {
	font-size: 2.6em;
	color: black;
	margin-top: 0.5em;
}
h2 {
	font-size: 2em;
	
}
h2.subtitle {
	font-size: 1.9em;
	color: #6f6f6f;
	font-weight: 300;
	margin-top: -0.5em;
	margin-bottom: 1em;
}
h3 {
	font-size: 1.7em;
}

a.no-link {
	text-decoration: none;
	color: #555;
}

.tag-entry a.name, .ic-entry a.name {
	font-size: 115%;
	font-weight: bold;
	line-height: 2em;
}

.tag-entry a.highlight, .ic-entry a.highlight {
	font-size: 150%;
	font-weight: bolder;
	line-height: 3em;
	text-decoration: underline;
}

.well h1, .well .lead {
	font-size: 135%;
}

div.field_with_errors { 
  display: inline;
  .control-label {
	color: red;
  }
  select {
    border: 2px solid red;
  }
}

textarea { resize:both; }
textarea.vert { resize:vertical; }
textarea.noResize { resize:none }

.issue-section {
	.issue-obj {
	  @extend .well;
	  @extend .well-small;
	  margin-bottom:7px;
	  background-color: #fdfdfd;
	}
}

.hero-unit {
	#about {
		padding-bottom:30px;
		div.cover {
			img {
				@extend .img-polaroid;
				margin-top:0.7em;
			}
			a.change-asset {
				font-size: 60%;
			}
		}
		div.description {
			h1 {margin-bottom:10px;}
			.text {padding-bottom:10px;}
		}
	}
}

#about {
	div.cover {
		img {
			@extend .img-polaroid;
			margin-top:0.7em;
		}
		a.change-asset {
			font-size: 80%;
		}
	}
	div.description {
		h1 {margin-bottom:10px;}
		.text {padding-bottom:10px;}
	}
}
a.member {
	padding-bottom:8px;
	text-decoration: none;
	img {
		@extend .img-rounded;
		width: 40px;
		margin: 0 5px 5px 0;
	}
}

#map label { width: auto; display:inline; }
#map img { max-width: none; }