/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.field_with_errors input[type="text"], .field_with_errors textarea {
	border: 1px solid red;
}

.main-yield p, .main-yield li {
	font-size: 90%;
}

.abstract_area {
	height: 100px;
}

.subtitle {
	line-height: 1.4;
	color: #6f6f6f;
	font-weight: 300;
	margin-top: -0.7em;
	margin-bottom: 1em;
}

.list-entry {
	border-bottom: 1px dashed #e6e6e6;
	margin-bottom: .8em;
}

.other-actions {
	margin: 1em 0 3em 0;
}


footer {
	padding-top:3em;
}

/*--- Footer Top ---*/
.babylo-tec-footer-top {
	background: #f6f6f6;
 	padding: 24px 0 10px;
 	margin: 0;
 	height: auto;
 	border-top: 1px solid #e6e6e6;
 	display: block;
}

.babylo-tec-footer-top .option-block span, .babylo-tec-footer-top .option-block-last span {
	line-height: 22px;
	font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
}

.babylo-tec-footer-top .option-block i, .babylo-tec-footer-top .option-block-last i {
	margin-right: .8em;
	margin-top: .2em;
	float:left;
}

.babylo-tec-footer-top .option-block {
	border-right: 1px solid #e6e6e6;
	height: 10em;
	margin-bottom: 20px;
	padding-left: 20px;
}

.babylo-tec-footer-top .option-block-last {
	height: 10em;
	margin-bottom: 20px;
	padding-left: 20px;
}

.babylo-tec-footer-top .option-block ul li, .babylo-tec-footer-top .option-block-last ul li {
	font-size: 12px;
	padding-left:1.1em;
}

/*--- Footer Bottom ---*/
.babylo-tec-footer-bottom {
 	background: #333;
 	padding: 20px 0 10px;
 	margin: 0;
 	height: auto;
 	border-top: 1px solid #e6e6e6;
 }

.co-operation-links {
 	display: block;
	float: right;
	padding-top: 8px;
	margin-right: 20px;

 }

.babylo-tec-footer-bottom ul.co-operation-links li {
 	list-style: none;
	display: block;
	float: left;
}

.babylo-tec-footer-bottom ul.co-operation-links li a {
	display: block;
	color: #2ba6cb;
	text-decoration: none;
}

.babylo-tec-footer-bottom ul.co-operation-links li a.vam {
	background: url("/assets/smb-logo.png") no-repeat center 0;
	background-size: auto 50px;
	height: 50px;
	width: 50px;
}

.babylo-tec-footer-bottom ul.co-operation-links li a.fu-berlin {
	background: url("/assets/fu-logo.png") no-repeat center 0;
	background-size: auto 50px;
	height: 50px;
	width: 50px;
}

.babylo-tec-footer-bottom ul.co-operation-links li a.dog {
	background: url("/assets/dog-logo.png") no-repeat center center;
	background-size: 100px auto;
	margin: 0 30px;
	height: 50px;
	width: 100px;
}

.babylo-tec-footer-bottom ul.babylo-tec-links li a.babylo-tec-logo {
	color: #858585;
	font-weight: bold;
	padding-right: 6px;
	margin-left: -6px;
	font-size: 16px;
	font-family: "Proxima Nova", "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: none;
}

.babylo-tec-footer-bottom ul.babylo-tec-links {
	padding-top: 10px;
	margin-bottom: 0.7em;
}

.babylo-tec-footer-bottom ul.babylo-tec-links li {
	margin-left: 6px;
	font-family: "Proxima Nova Condensed", "proxima-nova-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	line-height: 16px
}

.babylo-tec-footer-bottom ul.babylo-tec-links li a {
	color: #666;
	padding: 0px 6px 3px 6px;
}

.babylo-tec-footer-bottom p.copyright {
	font-size: 13px;
	color: #666;
	padding: 0 0 0 1em;
}