.calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {

    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 60px;
    vertical-align: top;
    font-size: 14px;
  }

  .notmonth span.day a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

.calendar h2 {
  margin: -10px 0 0 0;
  padding-bottom: 0px;
  text-align: center;
  font-size: 1.2em;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

.calendar ul {
  font-size: 11px;
  margin-left:0px;
  padding-left: 0px;
  list-style-type: none;
}