/* wells rounded zu eckig

.nav, .well, .dropdown-menu, pre, .nav-tabs.nav-stacked > li:first-child > a, .nav-tabs.nav-stacked > li:last-child > a, .btn, .nav-pills > li > a {
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}
 */
 