.explorer img {
	width: 100%;
	height: auto;
	background-color: #787878;
	padding-bottom: 0.4em;
}

.explorer a.change-asset {
	color: white;
	padding: 0.4em;
	background: black;
	opacity: 0.7;
	position: relative;
	top:-2em;
	z-index:999;
}
