    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      padding-top: 0px;
      margin-bottom: 20px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 20px;
      font-size: 120px;
      text-shadow: 0 2px 2px rgba(0,0,0,1);
      background-color: transparent;
      border: 0;
      z-index: 5;
    }

    .carousel .item {
      height: 450px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: auto;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 60px;
      margin-top: 300px;
    }
    .carousel-caption h1,
    .carousel-caption p {
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);      
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
    .carousel-caption a {
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }


    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (min-width: 1280px) {
	  .carousel {
        padding-top:0px;
      }

      .carousel .item {
        height: 600px;
      }
      .carousel img {
        width: auto;
        height: auto;
      }

      .carousel-caption {
        width: 80%;
        padding: 0 60px;
        margin-top: 450px;
      }

    }

    @media (max-width: 979px) {
	  .carousel {
        padding-top:0px;
      }


      .carousel .item {
        height: 350px;
      }
      .carousel img {
        width: auto;
        height: auto;
      }
      .carousel-caption {
        width: 80%;
        padding: 0 50px;
        margin-top: 200px;
      }

    }


    @media (max-width: 767px) {


      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 280px;
      }
      .carousel img {
        height: auto;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 150px;
      }
      .carousel-caption h1 {
        font-size: 20px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 15px;
      }
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 0px !important;
      margin-bottom: -70px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }

    }