.explorer {

	img {
		width: 100%;
		height: auto;
		background-color: #787878;
	}
	.overlay {
		position:absolute;
		left:3em;
		top:2em;
		background-color: transparent;
		z-index: 600;
		letter-spacing: 0.05em;
		h1 {
			font-size: 3.3em;
			color: #f5f5f5;
			line-height: 1em;
		}
		p {
			font-size: 1.3em;
			color: #ddd;

		}
	}
}

.explorer-sidebar-section {
	@media (min-width: 768px) { 
		border-left:1px solid #f5f5f5;
		padding-left:25px;
		min-height: 30em;

		p {
			padding-right:1em;
		}
	}
}

.billboard {
	a {
		color: inherit;
	}
}