.module-options, .group-options, .project-options, .dashboard-options { 
  margin: 1em 0;
  .btn-group {
    margin: 5px 0 15px;
    font-weight: bold;
  }
  li a {
    font-size: 1.2em;
    padding: 20px;
    .badge {
      margin-top:-3px;
    }
  }

}