@import 'foundation_and_overrides';

.dl-horizontal {
	@include grid-row;
	font-size: 80%;
	dt {
		@include grid-column(4);
		font-weight: $definition-list-header-weight;
		color: lighten($header-font-color, 30%);
		margin-bottom: $definition-list-margin-bottom /2;
		text-align: right;
		overflow: $inline-list-overflow;
		clear: left;
	}
	dd {
		@include grid-column(8);
		margin-bottom: $definition-list-margin-bottom /2;
	}
}