  <div class="control-group">
    <%= f.label field.name, class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select(field.name, field.select_values, :id, :field_value, {:selected => (f.object[field.name].present? ? eval(f.object[field.name]) : ''), :include_blank => false}, {multiple: true, class: 'form-control chosen-select input-block-level'}) %>
    </div>
  </div>