  <div class="control-group">
    <%= f.label field.name, class: 'control-label' %>
    <div class="controls">
      <% field.select_values.each do |r| %>
        <label class="radio">
      	  <%= f.radio_button field.name, r.id  %>
      	  <%= r.field_value %>
      	</label>
      <% end %>
    </div>
  </div>