  <div class="control-group">
    <%= f.label field.name, class: 'control-label' %>
    <div class="controls">
      <%= f.collection_select field.name, field.select_values, :id, :field_value %>
    </div>
  </div>